#octopus > img {
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding: 10em;
}

#glasses > img {
	display:block;
	margin-left: 45.3%;
	margin-top: -21.7em;
}

#hat > img {
	display: block;
	margin-left: 41%;
	margin-top: -15em;
}